<div class="row">
	<%= render 'visitors/map_view' %>
</div>
<div class="container">
	<%= form_tag("/find", method: "get") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>
