<div class="row">
  <%= render 'visitors/map_view' %>
</div>
<div class="container">
  <div class="row floating">
    <div class="col-md-12 search-area">
      <%= form_tag("/find", method: "get", class: 'form-inline') do %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <h2><%= label_tag(:q, "I'm in the mood for...") %></h2>
            </div>
            <div class="col-sm-6">
              <%= text_field_tag :q, nil, class: 'form-control search-box input-lg', placeholder: 'middle eastern food' %>
            </div>
            <div class="col-sm-2">
              <%= submit_tag "Find it.", :name => nil, class: 'btn btn-lg btn-white search-btn' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="outline">
        <div class="number">one.</div>
        <hr>
        <p>Let us know what you're in the mood to eat.</p>
        <span class="glyphicon glyphicon-comment step"></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="outline">
        <div class="number">two.</div>
        <hr>
        <p>We'll find you the best place to get it.</p>
        <span class="glyphicon glyphicon-road step"></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="outline">
        <div class="number">three.</div>
        <hr>
        <p>You sit back and enjoy the perfect meal.</p>
        <span class="glyphicon glyphicon-cutlery step"></span>
      </div>
    </div>
  </div>

  <div class="row disclaimer">
    <div class="col-xs-12 text-center">
      <p>* Currently searches restaurants located in the Boston area only.</p>
    </div>
  </div>

</div>
