<div class="container">
  <div class="row">
    <div class="col-xs-4 results">
      <h4><%= link_to '&#x2190;'.html_safe, :back, class: 'back-arrow'%> Results for <span class="orange"><%= @query %></span></h4>
    </div>
    <div class="col-xs-2 col-xs-offset-6 results results-total">
      <h4 class="results-total"><span class="orange"><%= @res.length %></span> results</h4>
    </div>
  </div>
  <hr>
  <div class="row">

    <% @res.each do |restaurant| %>
      <div class="col-md-6">
        <div class="restaurant-detail">
          <h5><%= link_to_if restaurant.contact_detail.website, restaurant.name, restaurant.contact_detail.website %></h5>
          <hr>
          <div class="row">
            <div class="col-xs-6">
              <table class="table">
                <tr>
                  <td><span class="glyphicon glyphicon-home"></span></td>
                  <td>
                    <%= restaurant.contact_detail.address_one %>
                    <br>
                    <%= restaurant.contact_detail.city %>, <%= restaurant.contact_detail.state %>, <%= restaurant.contact_detail.zip %>
                  </td>
                </tr>
                <% if restaurant.contact_detail.phone %>
                  <tr>
                    <td><span class="glyphicon glyphicon-earphone"></span></td>
                    <td><%= restaurant.contact_detail.phone %></td>
                  </tr>
                <% end %>
                <% if restaurant.contact_detail.email %>
                  <tr>
                    <td><span class="glyphicon glyphicon-envelope"></span></td>
                    <td><%= restaurant.contact_detail.email %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <div class="col-xs-6">
              <table class="table">
                <tr>
                  <td>
                    <div class="rating">
                      <% (restaurant.rating).to_i.times do |i| %>
                        <span>☆</span>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="price">
                      <% (restaurant.price).to_i.times do |i| %>
                        <span>$</span>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-xs-12">

                    <div class="tags">
                      <% if restaurant.food_detail.cuisine %>
                        <% restaurant.food_detail.cuisine.scan(/\"(\w+)\"/).flatten.each do |item| %>
                          <span class="tag"><%= item %></span>
                        <% end %>
                      <% end %>
                    </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>